@import "./variables.scss";
@import url("https://fonts.googleapis.com/css?family=Red+Hat+Text:400,500,700");

@font-face {
  font-family: AvenirBold;
  src: url(/assets/fonts/AvenirLTStd-Heavy.woff) format("woff");
  font-style: normal;
  font-weight: 600;
}

// .fade-enter-active,
// .fade-leave-active {
//   transition: opacity 1s;
// }
// .fade-enter-active {
//   transition: opacity 1s;
// }
// .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
//   opacity: 0;
// }

* {
  color: black;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  //Font weight specifications > font-weight: 100;
  // Thin            100
  // Extra Light     200
  // Light           300
  // Regular         400
  // Medium          500
  // Semi-Bold       600
  // Bold            700
  // Black           900
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.screenshot {
  width: 70%;
  @media (max-width: $screen-md) {
    width: 260px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
  }
}

.screenshot-epaid {
  width: 62%;
  @media (max-width: $screen-md) {
    width: 232px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
  }
}

.project-pic {
  width: 239px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 67px;
  margin-bottom: 72px;

  @media (max-width: $screen-md) {
    width: 260px;
    padding-bottom: 10px;
    margin-bottom: 0px;
  }
}

.vert-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project {
  .top-space {
    margin-top: 110px;
    @media (max-width: $screen-sm) {
      margin-top: 80px;
    }
  }

  .top-pics {
    .img {
      vertical-align: bottom;
    }
    .left-pic,
    .right-pic {
      width: 172px;
      @media (max-width: $screen-md) {
        width: 29%;
      }
    }
    .middle-pic {
      width: 203px;
      margin-right: 21px;
      margin-left: 21px;
      @media (max-width: $screen-md) {
        width: 34%;
        margin-right: 8px;
        margin-left: 8px;
      }
    }

    @media (max-width: $screen-md) {
      padding-right: 0px;
      padding-left: 0px;
    }
  }

  .small-screen {
    @media (min-width: $screen-md) {
      display: none;
    }
  }
  .large-screen {
    @media (max-width: $screen-md) {
      display: none;
    }
  }

  h1 {
    color: $primary;
    font-size: 29px !important;
    font-weight: 500 !important;
    letter-spacing: 0.23px !important;
    line-height: 39px !important;
    margin-top: 81px !important;
    text-align: center;
  }

  h2 {
    color: $primary;
    font-size: 24px !important;
    font-weight: 500 !important;
    line-height: 31px !important;
    letter-spacing: 0.18px !important;
    margin-top: 81px !important;
    margin-bottom: 30px !important;
  }

  h3 {
    font-size: 20px !important;
    line-height: 26px !important;
    font-weight: 500 !important;
    letter-spacing: 0.15px !important;
  }

  .next {
    .arrow {
      width: 20px;
      height: 34px;
      margin-bottom: 5px;

      -webkit-transition: 0.5s all ease;
      -moz-transition: 0.5s all ease;
      transition: 0.5s all ease;
    }
    h6 {
      color: $primary;
      font-size: 24px;
      font-weight: 500;
      letter-spacing: 0.18px;
      line-height: 31px;

      -webkit-transition: 0.5s all ease;
      -moz-transition: 0.5s all ease;
      transition: 0.5s all ease;
    }
    margin-top: 70px;
    margin-bottom: 125px;

    a:hover {
      margin-top: -2px;
      .arrow {
        width: 22px;
        height: 37px;
      }
      h6 {
        font-size: 26px;
      }
      text-decoration: none;
    }
  }

  b {
    //color: $primary;
    font-weight: 500 !important;
  }

  p {
    font-weight: 400 !important;
  }

  .logo {
    margin-top: 45px;
    margin-bottom: 52px;
    @media (max-width: $screen-md) {
      margin-top: 10px;
      margin-bottom: 30px;
    }
  }

  .summary {
    padding-top: 81px;
    padding-right: 140px;
    padding-left: 140px;
    @media (max-width: $screen-md) {
      padding-right: 0px;
      padding-left: 0px;
    }

    .sidebar {
      h4 {
        font-size: 16px;
        line-height: 21px;
        color: $primary;
        margin-bottom: 3px;
      }
      ul {
        li {
          font-size: 16px;
          line-height: 21px;
          color: rgba(129, 76, 243, 0.6);
          font-weight: 500;
          margin-bottom: -1px;
        }
        margin-bottom: 9px;
      }
      @media (max-width: $screen-md) {
        margin-bottom: 60px;
      }
    }
    .desc {
      margin-top: 0px;
      padding-right: 12%;
      p {
        margin-top: 20px;
      }
    }
  }

  .user {
    background-color: rgba(129, 76, 243, 0.15);
    padding: 32px;
    padding-top: 54px;
    margin-top: 75px;
    @media (max-width: $screen-md) {
      padding: 5%;
      padding-top: 40px;
      padding-bottom: 40px;
      width: 100%;


      b-col {
        max-width: 100%;
        width: 100%;
        padding-left: 0px !important;
        padding-right: 0px !important;
      }
    }

    img {
      width: 100%;
      @media (max-width: $screen-md) {
        width: 242px;
        margin-bottom: 10px;
      }
    }

    .user-pic {
      // width: 100% !important;
      @media (min-width: $screen-md) {
        max-width: 28% !important;
      }
    }
    .user-bio {
      // width: 100% !important;
      @media (min-width: $screen-md) {
        max-width: 34% !important;
      }

      .age {
        padding-right: 20px;
        max-width: 90px;
      }
      .location {
        padding-left: 0px;
        padding-right: 20px;
      }
      .career {
        padding-left: 0px;
      }
    }
    .user-list {
      // width: 100% !important;
      @media (min-width: $screen-md) {
        max-width: 38% !important;
      }
    }

    h5 {
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.09px;
      line-height: 21px;
    }
    p,
    li {
      font-size: 16px;
      letter-spacing: 0.09px;
      line-height: 21px;
    }
  }

  .pic-right {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-bottom: 50px;

    @media (max-width: $screen-md) {
      padding-bottom: 0px;
    }

    h5 {
      font-size: 20px !important;
      line-height: 26px !important;
      font-weight: 500 !important;
      letter-spacing: 0.15px !important;
    }

    .content {
      @media (min-width: $screen-md) {
        margin-right: 179px;
      }
    }

    .project-pic-right {
      width: 239px;
      display: block;
      align: "center";
      margin-top: 67px;

      @media (max-width: $screen-md) {
        margin-left: auto;
        margin-right: auto;
        width: 260px;
        padding-bottom: 10px;
      }
    }
  }

  .triple {
    padding-right: 7%;
    padding-left: 7%;
    margin-bottom: 69px;

    @media (max-width: $screen-md) {
      padding-right: 0px;
      padding-left: 0px;
    }

    .project-pic-triple {
      img {
        width: 239px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 67px;
        margin-bottom: 72px;

        @media (max-width: $screen-md) {
          width: 100%;
          padding-bottom: 10px;
          margin-bottom: 0px;
        }
      }
    }

    .triple-center {
      padding-right: 0px;
      padding-left: 0px;
    }
  }

  .double {
    img {
      @media (max-width: $screen-md) {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
      }
    }
  }

  .extra-bottom-space {
    margin-bottom: 99px;
    @media (max-width: $screen-md) {
      margin-bottom: 0px;
    }
  }

  .extra-bottom-space2 {
    margin-bottom: 78px;
  }

  .mobile-bottom-space {
    @media (max-width: $screen-md) {
      margin-bottom: 81px;
    }
  }

  //Apply bottom margin to all columns in mobile
  @media all and (max-width: 767px) {
    [class^="col-sm-"] {
      margin-bottom: 20px;
    }
  }
}

.sidemenu {
  position: fixed;
  // top: 58%;
  // -ms-transform: translateY(-50%);
  // transform: translateY(-50%);
  top: 270px;
  z-index: 2;
  left: 24px;

  @media (max-width: $screen-md) {
    display: none;
  }

  li {
    color: rgba(129, 76, 243, 0.5);
    margin-bottom: 19px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.15px;
    line-height: 21px;

    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    transition: 0.5s all ease;
  }

  li:hover {
    font-size: 18px;
    margin-top: 1px;
    color: #814CF3;
  }

  a:hover {
    text-decoration: none;
  }
}